# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Misc
*.zip

# Luacheck's Cache
.luacheckcache

# Vscode local config
.vscode
.vs

# Jetbrains local config
.idea

# Libraries
ElvUI_Libraries/Game/Classic/LibQuestXP
ElvUI_Libraries/Game/Shared/*
!ElvUI_Libraries/Game/Shared/Ace3/AceConfig-3.0
!ElvUI_Libraries/Game/Shared/Ace3/AceLocale-3.0
!ElvUI_Libraries/Game/Shared/Ace3/LICENSE.txt
!ElvUI_Libraries/Game/Shared/Ace3-ElvUI
!ElvUI_Libraries/Game/Shared/LibAceConfigHelper
!ElvUI_Libraries/Game/Shared/LibActionButton-1.0
!ElvUI_Libraries/Game/Shared/LibAnim
!ElvUI_Libraries/Game/Shared/LibDeflate
!ElvUI_Libraries/Game/Shared/LibElvUIPlugin-1.0
!ElvUI_Libraries/Game/Shared/LibRangeCheck-3.0
!ElvUI_Libraries/Game/Shared/LibSimpleSticky
!ElvUI_Libraries/Game/Shared/oUF
!ElvUI_Libraries/Game/Shared/oUF_Plugins

# Pipelines
.release
