name: Release pipeline

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    if: github.repository == 'tukui-org/ElvUI'
    name: Publish release to CDN
    runs-on: ubuntu-latest
    env:
      DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
    steps:
      - name: Clone project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.SSH_DEPLOY_KEY }}
      - name: Workaround checkout issues
        run: |
          git fetch --tags --force
      - name: Create Package
        uses: BigWigsMods/packager@v2
        with:
          args: -n "{package-name}-{project-version}"
      - name: Get package name
        run: |
          echo "PACKAGE=$(find .release -type f -name *.zip -printf "%f\n")" >> $GITHUB_ENV
      - name: Publish package
        run: |
          curl https://api.tukui.org/v1/upload/$PACKAGE --silent --show-error --fail --upload-file .release/$PACKAGE -H "X-Tukui-Key: $DEPLOY_KEY" -H "Content-Type: application/zip"
      - name: Bump version of Git release
        run: |
          VERSION=${{ github.ref_name }}
          sed -i "s/return .*, '.*-git', nil, true/return ${VERSION:1}, '${VERSION:1}-git', nil, true/" ElvUI/Game/Shared/General/Initialize.lua
      - name: Commit version bump
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "<${{ github.actor }}@users.noreply.github.com>"
          git add ElvUI/Game/Shared/General/Initialize.lua
          git commit -m "CI: Git version bump"
          git push origin HEAD:main
